asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-crispy-forms
django-extensions
django-filter
django-taggit
djangorestframework
idna
importlib-metadata
Markdown
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
urllib3
zipp
