{% extends 'blog/navbar.html' %}

{% block content %}

{% for reg in object_list %}

        <h3>
            <a href="{% url 'details' reg.pk %}"> 
                {{ reg.title }} 
            </a>
        </h3>
        <small>
            {{ reg.category }} - by {{ reg.author.first_name}} {{ reg.author.last_name}} 
        </small>
    </br>
        <p>
            <!-- warning on safe -->
            {{reg.body|slice:"0:200"|safe}} 
        </p>
        <small>{{ reg.pub_date }}</small>
    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'updateform' reg.pk %}">edit</a>
        <a href="{% url 'deletepost' reg.pk %}">delete</a>
    {% endif %}
    <br>
    <br>

{% endfor %} 

{% endblock %}
